<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/admin/css/AdminHomepage.css">
    <title>adminmainpage</title>
</head>



<body>
    <!-- Navigation Bar-->
    <nav>
        <div class="left-header">
            <div>
                <a href="../intro.html"><img class="logo" src="/css/login/eventuate-logo.png" alt=""></a>
                <form method="post" action="/admin/logout?_method=DELETE">
                    <button class="logout" type="submit>"><i class="fa fa-sign-out"></i></button>
                </form>

            </div>
        </div>


        <div class="middle-header"></div>

        <div class="right-header">

            <div class="account-info">

                <p class="account-name">{{user.compname}}</p>

            </div>

            <div>
                <img class="account-img" src="data:image/jpeg;base64,{{image}}" alt="upload image">
            </div>
        </div>
    </nav>



    <!-- Left side of the screen -->
    <div class="split left">

        <form class="leftform">
            <button id="refreshButton"><i class="fas fa-sync-alt"></i></button>
            <h1 class="buh"><u>BOOKING YOU HAVE</u></h1>
        </form>
    </div>



    <!-- Right side of the screen -->
    <div class="split right">
        <form class="form-box" id="formbox">
            <center>

                <div>
                    <h1 class="teamname">{{user.compname}}</h1>

                    <h1 class="titleloc"><i class="fa fa-location-arrow"> {{user.complocation}}</i></h1>
                    <h1 class="contact"><i class="fa fa-mobile"> {{user.compphone}}</i></h1>
                    <h1 class="list"><i class="fa fa-list"> {{user.compcategory}}</i></h1>
                    <h1 class="edit"><i class="fa fa-edit"><a href="/admin/AddDetails">EDIT</a></i></h1>
                </div>

            </center>
        </form>
        <!-- Form container -->


        <form class="bookingclient">
            <div class="cont details-container" id="form-container">


                <div class="client name">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" placeholder="jwhhdc " readonly>
                </div>


                <div class="client email">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="wuhdvc" readonly>
                </div>


                <div class="client email">
                    <label for="phone">Phone Number:</label>
                    <input type="tel" id="phone" name="phone" placeholder="whdbcbh" readonly>
                </div>


                <div class="client loc">
                    <label for="location">Location:</label>
                    <input type="text" id="location" name="location" placeholder="whdvcv" readonly>
                </div>


                <div class="client event">
                    <label for="event-category">Event Category:</label>
                    <input type="text" id="event-category" name="event-category" placeholder="whbefhw" readonly>
                </div>


                <div class="client datefro">
                    <label for="date-from">Date From:</label>
                    <input type="date" id="date-from" name="date-from" placeholder="whjdbcihb" readonly>
                </div>


                <div class="client dateto">
                    <label for="date-to">Date To:</label>
                    <input type="date" id="date-to" name="date-to" placeholder="sjhdchu" readonly>
                </div>


                <div class="client timefro">
                    <label for="time-from">Time From:</label>
                    <input type="time" id="time-from" name="time-from" placeholder="shdbch" readonly>
                </div>


                <div class="client timeto">
                    <label for="time-to">Time To:</label>
                    <input type="time" id="time-to" name="time-to" placeholder="skhdcbi" readonly>
                </div>


                <div class="client conf">
                    <button class="confirm" type="button">Confirm</button>
                    <button type="button" class="reject">Reject</button>
                    <button type="button" class="goback" onclick="displayDetail()">Go Back</button>

                </div>
            </div>

        </form>
    </div>


    <script>
        let BookingData = [];
        let currentBookingId;

        document.getElementById('refreshButton').addEventListener('click', updateBookingData);
        function displayForm(booking) {
            document.getElementById("form-container").style.display = "block";
            document.getElementById("formbox").style.visibility = "hidden";
            //storing the booking id
            currentBookingId = booking.bookingid;
            document.getElementById("name").value = booking.name;
            document.getElementById("email").value = booking.email;
            document.getElementById("phone").value = booking.phone;
            //document.getElementById("location").value = booking.location;
            document.getElementById("date-from").value = formatDate(booking.startdate);
            document.getElementById("date-to").value =formatDate(booking.enddate);
            document.getElementById("time-from").value = booking.starttime;
            document.getElementById("time-to").value = booking.endtime;
            document.getElementById("event-category").value = booking.bookingcategory;
        }
        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;

            return [year, month, day].join('-');
        }

        function displayDetail() {
            document.getElementById("formbox").style.visibility = "visible";
            document.getElementById("form-container").style.display = "none";
        }

        function updateBookingStatus(status) {
            console.log("client side update booking status");
            console.log('currentBookingId:', currentBookingId);

            const booking = BookingData.find(booking => booking.bookingid == currentBookingId);
            console.log('booking:', booking);
            // Send a request to the server to update the booking status
            fetch(`/admin/updateBookingStatus/${booking.bookingid}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ status }),
            })
                .then(response => response.json())
                .then(data => {
                    // Update the booking data
                    updateBookingData();
                    displayDetail();
                })
                .catch(error => console.error('Error:', error));
        }


        function updateBookingData() {
            fetch('/admin/getUpdatedBookingData')
                .then(response => response.json())
                .then(data => {
                    if (JSON.stringify(data) != JSON.stringify(BookingData)) {
                        // Clear existing cards
                        const form = document.querySelector('.leftform');
                        const oldCards = form.querySelectorAll('.card');
                        oldCards.forEach(card => card.remove());
                        // Create new cards
                        data.forEach(booking => {
                            const card = document.createElement('div');
                            card.className = 'card';
                            card.addEventListener('click', () => displayForm(booking));
                            card.innerHTML = `
                            <input type="text" name="email" class="email" value="${booking.email}" readonly>
                            <input type="text" name="bookingCategory" class="bookingCategory" value="${booking.bookingcategory}" readonly>
                            `;
                            form.appendChild(card);
                        });

                        // Update current booking data
                        BookingData = data;
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        window.onload = function () {
            updateBookingData();
            const confirmButton = document.querySelector('.confirm');
            const rejectButton = document.querySelector('.reject');
            confirmButton.addEventListener('click', () => updateBookingStatus(1));
            rejectButton.addEventListener('click', () => updateBookingStatus(-1));
        }
    </script>
</body>

</html>