<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/login/booking.css">

    <title>mainpage</title>

</head>

<body>
  <div>
  <div>
  
  <!-- Navigation Bar-->
  <!-- Navigation Bar-->
  <nav>
    <div class="left-header">

      <div>
       <div><img class="logo" src="/css/login/eventuate-logo.png" alt=""></div> 
      </div>

    </div>

    <div class="middle-header">
    </div>

    <div class="right-header">


      <div class="account-info">

        <p class="account-name">{{user.name}}</p>

      </div>

      <div>
        <img class="account-img" src="/css/login/account.png" alt="">
      </div>

    </div>

  </nav>
  <form> 
    
    <!--left side of the screen-->
        <div class="container">
      <div class="split left">

    <!--image of the team in left-->

      <img src="{{company.compimage}}" class="mainimg">

    <!--title of the team in below image-->
      
    <h1 class="teamname">{{company.compname}}</h1>

      </div>


    <!--right side of the screen-->

     <div class="split right">
      
      <form class="form-box">

    <!--LOCATION-->
         
          <h1 class="titleloc"><i class="fa fa-location-arrow">     {{company.complocation}}</i></h1>

    <!--CONTACT-->

          <h1 class="contact"><i class="fa fa-mobile">      {{company.compphone}}</i></h1>

    <!--SERVICES-->

          <h1 class="list"><i class="fa fa-list">                {{company.compcategory}}</i></h1>


        

    <!--BOOKING-->

          <h1 class="book"><i class="fa fa-bookmark"><a href="#booking">     BOOK NOW</a></i></h1>
      

   </div>
</form>

</form>

<!--booking form-->

<form class="form" action="/bookingform" method="post">

  <!--heading-->

  <h1 class="formheading" id="booking">ENTER BOOKING DETAILS</h1>

<input type="hidden" name="compregno" value="{{ company.compregno }}">
<input type="hidden" name="compname" value="{{ company.compname }}">


  <!--fname-->
  <label for="fname">First name:</label><br>
  <input type="flname" id="fname" name="fname"><br>

  <!--lname-->
  <label for="lname">Last name:</label><br>
  <input type="flname" id="lname" name="lname">

  <!--choose event-->

  <div>

    <label for="selectevent">Select Event:</label>

  <select for="selecteventdetail" id="selectevent" name="category">
    <option value="NONE">NONE</option>
    <option value="BIRTHDAY">BIRTHDAY</option>
    <option value="WEDDING">WEDDING</option>
    <option value="BAPTISM">BAPTISM</option>
    <option value="FUNERAL">FUNERAL</option>
    <option value="HOLY_COMMUNION">HOLY COMMUNION</option>
    <option value="FESTIVE_EVENTS">FESTIVE_EVENTS</option>
    <option value="ANNIVERSARY">ANNIVERSARY</option>

  </select>
</div>

  <!--eventdate-->
  <div>

   <div>
    
   <label for="date">Select Date:</label>

  </div>

  <label for="datefrom">From:</label>
  <input type="date" id="datefrom" name="startingdate">

  <label for="dateto">To:</label>
  <input type="date" id="dateto" name="endingdate">


  </div>

<!--choose time-->

  <div>
    
    <label for="time">Select Time:</label>
  
    </div>
  
    <label for="timefrom">From:</label>
    <input type="time" id="timefrom" name="startingtime">
  
    <label for="timeto">To:</label>
    <input type="time" id="timeto" name="endingtime">


    <!--address detials-->

    <div>

    <label for="addressboking">Address:</label>
    <input type="address" id="adressbooking" name="address">

    </div>

     {{#if errorMessage}}
            <p class="error-message">{{errorMessage}}</p>
          {{/if}}
          {{#if success}}
            <p class="success-message">{{success}}</p>
          {{/if}}


    <div>

      <button type="submit" class="next" id="next"><B>FINISH</B></button>
    </div>
  
    </div>

    

  

</form>

</div>

</div>


</div>


</body>

</html>

